/* src/pages/index.module.css */

:root {
  --text-spacing: -1px;
  --bottom: 5px;
}

.heroBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/hero-background.jpg");
  text-align: center;
}

.container {
  width: 60%;
}

.heroTitle {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: var(--bottom);
  letter-spacing: var(--text-spacing);
}

.heroSubtitle {
  font-size: 1.6rem;
  padding-bottom: var(--bottom);
}

.getButton {
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  padding: 10px 20px;
}

.card {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 15px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.card-content h3 {
  width: 100%;
  font-size: auto;
  margin-bottom: 5px;
}

.card-content p {
  max-height: 70px;
  overflow: hidden;
  color: #666;
  font-size: 10px;
}

.button {
  display: flex;
  justify-content: flex-start;
  height: auto;
}

@media screen and (max-width: 650px) {
  .container {
    width: 80%;
  }
  .heroTitle {
    font-size: 30px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    gap: 5px;
  }
}

/*.features {
    padding: 2rem 0;
  }
  
  .feature {
    text-align: center;
    padding: 1.5rem;
  }
  
  .featureImage {
    width: 100%;
    max-width: 300px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .feature h3 {
    margin-bottom: 1rem;
  }
  
  .feature p {
    margin-bottom: 1.5rem;
  }
  
  .feature .button {
    text-transform: uppercase;
  }*/

/*background-image: url('/img/hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 4rem 0;*/
